<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="update" method="post">
		<label>Enter original roll:</label>
		<input type="text" name="roll"/>
		<br>
		<label>Enter updated Name:</label>
		<input type="text" name="name"/>
		<br>
		<label>Enter updated Branch:</label>
		<input type="text" name="branch"/>
		<br>
		<label>Enter updated yop:</label>
		<input type="text" name="yop"/>
		<br>
		<input type="submit" value="Update Student"/>
		<br>
	</form>
</body>
</html>